.custom-dropdown-bg-aliceblue > .dropdown > .dropdown-menu {
    background-color: #E0F7FA;
}

.custom-dropdown-bg-bluergrey > .dropdown > .dropdown-menu {
    background-color: #37474F;
}

.navbar {
    margin: 0px;
}

.ui-container {
    margin: 0 5vw;
}

.navbar {
    padding: .75vh 5vw;
}

.navbar-right {
    margin-left: auto;
}