.ui-container {
    margin: 0 5vw;
}

.ui-container-wide {
    margin: 0 2vw;
}

.theme-color-1 {
    background-color: #2C3531;
}

.theme-color-2 {
    background-color: #116466;
}

.theme-color-3 {
    background-color: #D9B08C;
}

.theme-color-4 {
    background-color: #FFCB9A;
}

.theme-color-5 {
    background-color: #D1E8E2;
}