.custom-dropdown-bg-app > .dropdown > .dropdown-menu {
    background-color: #E0F7FA;
}

.custom-dropdown-bg-web > .dropdown > .dropdown-menu {
    background-color: #80DEEA;
}

.navbar {
    margin: 0px;
}

.ui-container {
    margin: 0 5vw;
}

.navbar {
    padding: .75vh 5vw;
}

.navbar-right {
    margin-left: auto;
}